*{ margin:0;
    box-sizing: border-box;

}


body{
    background-color:#fff ;
    color: black;
    font-style: bold;
    font-family: sans-serif;
}


.subt{
    color: whitesmoke;
    font-family: Verdana;
    font-size: 20px;
    padding: 20px;
   text-align: center;
}

.subt:hover{
    background-color:#5FC3E4;
    border-radius: 15px;
    padding: 10px;
}

.logos{
    width: auto;
    height: auto;
    margin-left: 1000px;
}

.shortabout{
    text-align: left;
    font-family: Haettenschweiler ;
    font-size: 30px;
    width: 700px;
    margin-left: 200px;
}


